<%= link_to 'Panel Administracyjny' ,admin_firms_path%>
<br><br>
<h2>Lista firm</h2>
<br>

  <%= form_for @search, :url => "/home/index", :html => {:method => :get} do |f| %>
    <%= f.label :title_like, "Nazwa" %>
    <%= f.text_field :title_like %>
    <%= f.submit "Szukaj" %>

  <% end %>
  <br>
  
<% @home.each do |firm| %>
	Nazwa: <%=h firm.title %> <br>
	Opis: <%=h firm.description %>
	<br><br>
<% end %>	

<%= will_paginate %>




